@{
    Layout = "~/Views/Shared/map_ani_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recovery</title>
</head>
<body>
    <header>

    </header>
    <div>
    
    </div>
</body>
</html>
