@{
    Layout = null;
}

<!DOCTYPE html>


<html>

<head>
    <!--tab icon-->
    <link rel="icon" href="~/Images/logo1.png.PNG" />
    <title> Schedule 13 permit </title>
</head>
<body style="background-color:whitesmoke;">
   

</body>




</html>
